.theme_3_0 .el-aside .logo{
	box-sizing: border-box;
	border-bottom: 1px solid #020202;
	background: #20222A;
}
.theme_3_0 .el-aside .logo span {
	color: #f5f5f5;
}
.theme_3_0 .el-aside .logo i{
	color: #f5f5f5;
}
.theme_3_0 .el-aside .el-scrollbar{
	box-sizing: border-box;
	border-right: 1px solid #E4E7ED;
}
.theme_3_0 .el-header {
	box-sizing: border-box;
	border-bottom: 1px solid #020202;
	background: #20222A;
	color: #f5f5f5;
}
.theme_3_0 .menuList[level="1"]{
	background: #fff;
}
.theme_3_0 .menuList[level="2"]{
	background: #F4F4F4;
}
.theme_3_0 .menuList[level="3"]{
	background: #E8E8E9;
}

.theme_3_0 .el-submenu__title,.theme_3_0 .el-menu-item{
	color: #555 !important;
}
.theme_3_0 .el-menu-item.is-active{
	border-left: 4px solid #20222a!important;
    background-color: #DEDEDF!important;
    color: #000!important;
}
.theme_3_0 .el-menu-item.is-active i{
	color: #000 !important;
}
.theme_3_0 .el-menu-item:not(.is-active):focus,
.theme_3_0 .el-menu-item:not(.is-active):hover,
.theme_3_0 .el-submenu__title:not(.is-active):hover{
	background: #DEDEDF !important;
}
.theme_3_0 .el-main .homeLabel .is-active {
	color: #000;
	background: #f7f7f7;
}
.theme_3_0 .el-main .homeLabel .el-tabs__item:hover{
	color: initial !important;
}
/* 预览 */
.themeGroup .T_3_0 .lt{
	background: #20222A;
}
.themeGroup .T_3_0 .tr{
	background: #20222A;
}
.themeGroup .T_3_0 .lb{
	background: #fff;
}