.theme_3_1 .el-aside{
	background: #20222A;
}
.theme_3_1 .el-aside .logo{
	box-sizing: border-box;
	border-bottom: 1px solid #020202;
	background: #20222A;
}
.theme_3_1 .el-aside .logo span {
	color: #f5f5f5;
}
.theme_3_1 .el-aside .logo i{
	color: #f5f5f5;
}
.theme_3_1 .el-aside .el-scrollbar{
	box-sizing: border-box;
	border-right: 1px solid #020202;
}
.theme_3_1 .el-header {
	box-sizing: border-box;
	border-bottom: 1px solid #E4E7ED;
}
.theme_3_1 .menuList[level="1"]{
	background: #20222A;
}
.theme_3_1 .menuList[level="2"]{
	background: #16181D;
}
.theme_3_1 .menuList[level="3"]{
	background: #000;
}
.theme_3_1 .el-submenu__title,.theme_3_1 .el-menu-item{
	color: #ccc !important;
}
.theme_3_1 .el-menu-item.is-active{
    background-color: #009688 !important;
    color: #fff!important;
}
.theme_3_1 .el-menu-item.is-active i{
	color: #fff !important;
}
.theme_3_1 .el-menu-item:not(.is-active):focus,
.theme_3_1 .el-menu-item:not(.is-active):hover,
.theme_3_1 .el-submenu__title:not(.is-active):hover{
	background: #009688 !important;
}
.theme_3_1 .el-main .homeLabel .is-active {
	color: #000;
	background: #f7f7f7;
}
.theme_3_1 .el-main .homeLabel .el-tabs__item:hover{
	color: initial !important;
}
/* 预览 */
.themeGroup .T_3_1 .lt{
	background: #20222A;
}
.themeGroup .T_3_1 .tr{
	background: #fff;
}
.themeGroup .T_3_1 .lb{
	background: #20222A;
}